*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #192123;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    height: 600px;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-box{
    background: rgb(208,208,208);
    background: linear-gradient(90deg, rgba(208,208,208,1) 0%, rgba(171,169,169,1) 50%, rgba(96,96,96,1) 100%);
    height: 250px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fa-chevron-left{
    font-size: 2.5rem;
}

.fa-chevron-right{
    font-size: 2.5rem;
}

.box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img-box{
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 20px black ;
}

.dot-box{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle{
    margin: 0 5px;
    color: gray;
}

.fa-circle:hover{
    opacity: 0.8;
    cursor: pointer;
}

.arrow-box:hover{
    cursor: pointer;
    background: rgb(208,208,208);
    background: linear-gradient(90deg, rgba(208,208,208,0.8) 0%, rgba(171,169,169,0.8) 50%, rgba(96,96,96,0.8) 100%);
    box-shadow: 5px 5px 10px black ;
}

.arrow-box:hover .fa-chevron-right{
    color: white;
}

.arrow-box:hover .fa-chevron-left{
    color: white;
}

.active{
    color: #B4E900;
}