*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #192123;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    height: 600px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-box{
    background-color: rgba(255, 255, 255, 0.5);
    height: 250px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.fa-chevron-left{
    font-size: 2.5rem;
}

.fa-chevron-right{
    font-size: 2.5rem;
}

.box{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.img-box{
    height: 500px;
}

.dot-box{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-circle{
    margin: 0 5px;
    color: gray;
}

.fa-circle:hover{
    color: lightgrey;
    cursor: pointer;
}

.arrow-box:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
}

.active{
    color: #B4E900;
}